.weekDayName {
   font-size: 15px;
   width: 14.2857%;
   border-left: 1px solid black;
   border-bottom: 1px solid black;
   color: white;
   text-align: center;
   padding: 0.5em;
   background-color: #034078;

}