.remainderFormContainer {
   display: none;
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   background: #495057CC;
}

.remainderFormContainer .form {
   position: absolute;
   background: white;
   top: 50%;
   left: 50%;
   border: 1px solid black;
   width: 80%;
   max-width: 800px;
   max-height: 700px;
   transform: translate(-50%, -50%);
   text-align: left;
   padding: 2rem;
}

.remainderFormContainer .form input {
   display: block;
   margin: 1rem 0;
   width: 90%;
}


.remainderFormContainer .form .modalHeader {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #dee2e6;
   padding: 1rem 0;
   margin-bottom: 2rem;
}

.remainderFormContainer .form .modalHeader h4 {
   margin: 0;
}

.remainderFormContainer .form .close {
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 1;
   color: #000;
   text-shadow: 0 1px 0 #fff;
   opacity: .5;
}

.weather {
   margin: 1rem 0;
   color: #495057;
   height: calc(1.5em + .75rem + 2px);
   line-height: 1.5;
   padding: .375rem .75rem;
   font-size: 1rem;
   border: 1px solid #ced4da;
   border-radius: .25rem;
}